body {
	background-color: black;
}

h1 {
	color: white;
	text-align: center;
}

h2 {
	color: white;
	text-align: center;
}

p {
	color: white;
	text-align: center;
}

#schedule {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 4px;
	width: 600px;
	color: white;
}

#schedule td {
	color: white;
	border: 1px solid white;
	border-collapse: collapse;
}

#standings {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 4px;
	width: 600px;
	color: white;
}

#standings td {
	color: white;
	border: 1px solid white;
	border-collapse: collapse;
}